$body-bg:#0f0f0f;
$main-color:#ff0000;
$txt-color:#fff;
$black:#000000;
$white:#ffffff;
$box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;

$header-height:5rem;
$header-shrink-height:3.5rem;
$border-radius:9px;
$mobile-width:600px;
$tablet-width:1024px;

$font-family:"Monsterrat",sans-serif;